<?xml version="1.0" encoding="UTF-8" ?>

<raindrop>

    <drop id="help" class="Test.Help" scope="instance">
        <property name="message" value="%help.message%" />
        <property name="action" ref="simple"/>
    </drop>

    <import resource="/parameters.xml" />
    <import resource="/refs.xml"/>
</raindrop>