<?xml version="1.0" encoding="UTF-8" ?>

<raindrop>
    <!--<parameters>
        <parameter key="help.msg">我就是这么屌</parameter>
    </parameters>-->
    <drop id="help" class="Test.Help" scope="instance">
        <constructor> <!--终极推荐做法-->
            <constructor-arg name="message"  value="怪wo"/>
        </constructor>
        <property name="action" ref="simple"/>
    </drop>

    <drop id="simple" class="Test.ActionImpl.SimpleAction" scope="singleton" />
</raindrop>